{
  "openapi": "3.0.1",
  "info": {
    "title": "Заказы DBS",
    "version": "order",
    "description": "<div class=\"description_important\">\n  Узнать больше о заказах DBS можно в <a href=\"https://seller.wildberries.ru/instructions/category/6572e024-7428-4db1-86a8-a4c7dbebbfcf?goBackOption=prevRoute&categoryId=5a8e1202-0865-45b7-acae-5d0afc7add56\">справочном центре</a>\n</div>\n\nУправление [сборочными заданиями](./orders-dbs#tag/Sborochnye-zadaniya-DBS) и [метаданными](./orders-dbs#tag/Metadannye-DBS) заказов DBS (Delivery by Seller).\n",
    "x-file-name": "orders-dbs"
  },
  "security": [
    {
      "HeaderApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Заказы DBS",
      "description": "<div class=\"api-description\">\n\n<div class=\"description_important\">\n  Узнать больше о заказах DBS можно в <a href=\"https://seller.wildberries.ru/instructions/category/6572e024-7428-4db1-86a8-a4c7dbebbfcf?goBackOption=prevRoute&categoryId=5a8e1202-0865-45b7-acae-5d0afc7add56\">справочном центре</a>\n</div>\n\nУправление [сборочными заданиями](./orders-dbs#tag/Sborochnye-zadaniya-DBS) и [метаданными](./orders-dbs#tag/Metadannye-DBS) заказов DBS (Delivery by Seller).\n\n\n</div>",
      "x-traitTag": true
    },
    {
      "name": "Сборочные задания DBS",
      "description": "<div class=\"description_auth\">\n  Для доступа к методам используйте <a href=\"./api-information#tag/Avtorizaciya/Kak-sozdat-personalnyj-bazovyj-ili-testovyj-token\">токен</a> для категории <strong>Маркетплейс</strong>\n</div>\n\n<div class=\"description_ref\">\n  Узнать, как использовать методы в бизнес-кейсах, можно в <a href=\"https://dev.wildberries.ru/knowledge-base/articles/019d49a3-ff7d-70ba-a872-828430b24ea1/zakazy-dbs\">инструкции</a> по работе с <strong>заказами DBS</strong>\n</div>\n\n<div class=\"description_important\">\n  Узнать больше о сборочных заданиях DBS можно в <a href=\"https://seller.wildberries.ru/instructions/material/A-108?goBackOption=prevRoute&categoryId=0fc94a39-22b1-4a54-8ef2-06dac1d8137b\">справочном центре</a>\n</div>\n\nДля работы со сборочными заданиями DBS:\n1. [Получите новое сборочное задание](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1new/get) и сохраните его до перевода на сборку. Если вы не сохраните информацию о сборочном задании заранее, вы сможете получить ее только после завершения задания (отмены или продажи). Проверяйте [дату и время доставки](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1delivery-date/post).\n2. [Переведите его на сборку](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1confirm/post).\n3. После перевода на сборку для заказа становится доступной [информация о покупателе](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1client/post) (имя, телефон).\n4. [Переведите в доставку](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1deliver/post).\n5. После доставки задания покупателю вам необходимо сообщить на наш сервер, что [сборочное задание принято](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1receive/post) покупателем или, что [покупатель отказался от сборочного задания](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1reject/post).\n"
    },
    {
      "name": "Метаданные DBS",
      "description": "<div class=\"description_auth\">\n  Для доступа к методам используйте <a href=\"./api-information#tag/Avtorizaciya/Kak-sozdat-personalnyj-bazovyj-ili-testovyj-token\">токен</a> для категории <strong>Маркетплейс</strong>\n</div>\n\n<div class=\"description_ref\">\n  Узнать, как использовать методы в бизнес-кейсах, можно в <a href=\"https://dev.wildberries.ru/knowledge-base/articles/019d49a3-ff7d-70ba-a872-828430b24ea1/zakazy-dbs\">инструкции</a> по работе с <strong>заказами DBS</strong>\n</div>\n\n<div class=\"description_important\">\n  Узнать больше о метаданных можно в <a href=\"https://seller.wildberries.ru/instructions/material/A-305?goBackOption=prevRoute&categoryId=6d85301c-719b-4145-9275-2ac8b793f345\">справочном центре</a>\n</div>\n\nС помощью этих методов вы можете [получать](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post), [удалять](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta/delete) и редактировать метаданные [сборочных заданий](./orders-dbs#tag/Sborochnye-zadaniya-DBS):\nС помощью этих методов вы можете [получать](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post), [удалять](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta/delete) и редактировать метаданные [сборочных заданий](./orders-dbs#tag/Sborochnye-zadaniya-DBS):\n  - [Код маркировки Честного знака](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post)\n  - [УИН](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post)\n  - [IMEI](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post)\n  - [GTIN](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post)\n  - [номер ГТД](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1meta~1customs-declaration/post)\n"
    }
  ],
  "paths": {
    "/api/v3/dbs/orders/new": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "get": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Сборочные задания DBS"
        ],
        "summary": "Получить список новых сборочных заданий{{ /api/v3/dbs/orders/new }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает список всех новых [сборочных заданий](./orders-dbs#tag/Sborochnye-zadaniya-DBS), которые есть у продавца на момент запроса.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\n</div>\n",
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "properties": {
                    "orders": {
                      "type": "array",
                      "nullable": false,
                      "description": "Список новых сборочных заданий",
                      "items": {
                        "$ref": "#/components/schemas/OrderNewDBS"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/dbs/orders": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "get": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Сборочные задания DBS"
        ],
        "summary": "Получить информацию о завершенных сборочных заданиях{{ /api/v3/dbs/orders }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает информацию о завершенных [сборочных заданиях](./orders-dbs#tag/Sborochnye-zadaniya-DBS) после продажи или отмены заказа.\n<br><br>\nМожно получить данные за заданный период, максимум 30 календарных дней одним запросом.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\n</div>\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Next"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Дата начала периода в формате Unix timestamp\n"
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Дата конца периода в формате Unix timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "properties": {
                    "next": {
                      "$ref": "#/components/schemas/Next"
                    },
                    "orders": {
                      "type": "array",
                      "nullable": false,
                      "items": {
                        "$ref": "#/components/schemas/OrderDBS"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/dbs/groups/info": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает информацию о платной доставке сборочных заданий, которые поступили на один склад (`warehouseId`) в рамках одной транзакции покупателя (`orderUid`).\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "tags": [
          "Сборочные задания DBS"
        ],
        "summary": "Получить информацию о платной доставке{{ /api/v3/dbs/groups/info }}",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrderGroupsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.OrderGroup"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/dbs/orders/client": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "summary": "Информация о покупателе{{ /api/v3/dbs/orders/client }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает информацию о покупателе по ID сборочных заданий.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "tags": [
          "Сборочные задания DBS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrdersRequestAPI"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DbsOnlyClientInfoResp"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  },
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  },
                  "IncorrectRequest": {
                    "$ref": "#/components/examples/IncorrectRequest"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/b2b/info": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Сборочные задания DBS"
        ],
        "summary": "Информация о покупателе B2B{{ /api/marketplace/v3/dbs/orders/b2b/info }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает данные B2B-покупателей по ID сборочных заданий:\n  - ИНН\n  - КПП\n  - Наименование организации\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\n</div>\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.B2bClientInfoResponses"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/dbs/orders/delivery-date": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "summary": "Дата и время доставки{{ /api/v3/dbs/orders/delivery-date }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает информацию о выбранных покупателем дате и времени доставки сборочных заданий.\n<br>\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\n</div>\n",
        "tags": [
          "Сборочные задания DBS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryDatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryDatesInfoResp"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectRequest": {
                    "$ref": "#/components/examples/IncorrectRequest1"
                  },
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/info": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Сборочные задания DBS"
        ],
        "summary": "Получить статусы сборочных заданий{{ /api/marketplace/v3/dbs/orders/status/info }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает статусы [сборочных заданий](./orders-dbs#tag/Sborochnye-zadaniya-DBS) по их ID.\n<br><br>\n`supplierStatus` — статус сборочного задания. Триггер его изменения — действие самого продавца.\n\nВозможные значения `supplierStatus`:\n| Статус   | Описание            | Как перевести сборочное задание в данный статус |\n| -------  | ---------           | --------------------------------------|\n| `new`      | **Новое сборочное задание** | |\n| `confirm`  | **На сборке**      |  [Перевести сборочное задание на сборку](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1confirm/post)\n| `deliver`  | **В доставке**    | [Перевести сборочное задание в доставку](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1deliver/post)\n| `receive`  | **Получено покупателем**       | [Сообщить, что заказ принят покупателем](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1receive/post) <br>\n| `reject`   | **Отказ покупателя при получении**           |  [Сообщить, что покупатель отказался от заказа](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1reject/post)\n| `cancel`   | **Отменено продавцом**   |  [Отменить сборочное задание](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1cancel/post)\n| `cancel_missed_call` | **Отмена по причине недозвона** | Статус меняется автоматически |\n\n<br><br>\n`wbStatus` — статус системы Wildberries.\n\nВозможные значения `wbStatus`:\n- `waiting` — сборочное задание в работе\n- `sold` — заказ получен покупателем\n- `canceled` — отмена сборочного задания\n- `canceled_by_client` — покупатель отменил заказ при получении\n- `declined_by_client` — покупатель отменил заказ в первый чаc\n<br> Отмена доступна покупателю в первый час с момента заказа, если заказ не переведен на сборку\n- `defect` — отмена заказа по причине брака\n- `ready_for_pickup` — заказ прибыл на ПВЗ\n- `canceled_by_missed_call` — отмена по причине недозвона\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.OrderStatusesV2"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "404": {
            "description": "<span class='response__value '>Не найдено</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/cancel": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Сборочные задания DBS"
        ],
        "summary": "Отменить сборочные задания{{ /api/marketplace/v3/dbs/orders/status/cancel }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод переводит [сборочные задания](./orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статусов](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `new` и `confirm` в статус `cancel` — отменено продавцом.\nОтменить сборочные задания в статусе `deliver` невозможно.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/confirm": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Сборочные задания DBS"
        ],
        "summary": "Перевести сборочные задания на сборку{{ /api/marketplace/v3/dbs/orders/status/confirm }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод переводит [сборочные задания](./orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `new` в статус `confirm` — на сборке.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/stickers": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "x-token-types": [
          "personal",
          "service"
        ],
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Сборочные задания DBS"
        ],
        "summary": "Получить стикеры для сборочных заданий с доставкой в ПВЗ{{ /api/marketplace/v3/dbs/orders/stickers }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\n<div class=\"description_token\">Метод доступен по <a href=\"./api-information#tag/Avtorizaciya/Pravila-ispolzovaniya-tokenov-dostupa-k-API\">типам токенов</a>:<strong> Персональный</strong>,<strong> Сервисный</strong> </div>\n\nМетод возвращает стикеры для сборочных заданий с доставкой в ПВЗ в [статусах](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post):\n  - `confirm` — на сборке\n  - `deliver` — в доставке\n\nПолучить стикеры можно только в размере 580x400 px в формате PDF.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\n</div>\n",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Формат стикера",
            "schema": {
              "type": "string",
              "enum": [
                "pdf"
              ]
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": true,
            "description": "Ширина стикера",
            "schema": {
              "type": "integer",
              "enum": [
                58
              ]
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": true,
            "description": "Высота стикера",
            "schema": {
              "type": "integer",
              "enum": [
                40
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orders"
                ],
                "properties": {
                  "orders": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "description": "Список ID сборочных заданий",
                    "items": {
                      "type": "integer",
                      "format": "int64",
                      "example": 5346346
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stickers": {
                      "type": "array",
                      "nullable": false,
                      "description": "Стикеры",
                      "items": {
                        "type": "object",
                        "required": [
                          "barcode",
                          "file",
                          "orderId",
                          "partA",
                          "partB"
                        ],
                        "properties": {
                          "orderId": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": false,
                            "description": "ID сборочного задания",
                            "example": 5346346
                          },
                          "partA": {
                            "type": "string",
                            "nullable": false,
                            "description": "Первая часть ID стикера",
                            "example": "231648"
                          },
                          "partB": {
                            "type": "string",
                            "nullable": false,
                            "description": "Вторая часть ID стикера",
                            "example": "9753"
                          },
                          "barcode": {
                            "type": "string",
                            "nullable": false,
                            "description": "Закодированное значение стикера",
                            "example": "!uKEtQZVx"
                          },
                          "file": {
                            "type": "string",
                            "nullable": false,
                            "description": "Полное представление стикера, кодировка base64",
                            "example": "JVBER...ZWYKMTM5MQolJUVPRg=="
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  },
                  "StatusMismatch": {
                    "$ref": "#/components/examples/StatusMismatch"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/deliver": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Сборочные задания DBS"
        ],
        "summary": "Перевести сборочные задания в доставку{{ /api/marketplace/v3/dbs/orders/status/deliver }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод переводит [сборочные задания](./orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm` в статус `deliver` — в доставке.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetDeliverResponses"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/receive": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Сборочные задания DBS"
        ],
        "summary": "Сообщить о получении заказов{{ /api/marketplace/v3/dbs/orders/status/receive }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод переводит [сборочные задания](./orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `deliver` в статус `receive` — получено покупателем.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "requestId": "03615778-eb9e-4f55-b4Of-fd3ac0fad2сc",
                    "results": [
                      {
                        "orderId": 4299281547,
                        "isError": true,
                        "errors": [
                          {
                            "code": 404,
                            "detail": "NotFound"
                          }
                        ]
                      },
                      {
                        "orderId": 4279781545,
                        "isError": false
                      }
                    ]
                  },
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Уникальный ID запроса",
                      "example": "f1787bd2d1fdс35d6f537316514у4a05"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "integer",
                                  "description": "Код ошибки",
                                  "example": 404
                                },
                                "detail": {
                                  "type": "string",
                                  "description": "- `NotFound` — сборочное задание не найдено\n- `StatusMismatch` — операция невозможна для этого статуса сборочного задания\n- `SGTINIsNotFilled` — обязательный [код маркировки](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post) не указан\n",
                                  "example": "NotFound"
                                }
                              }
                            },
                            "type": "array",
                            "description": "Детали ошибки"
                          },
                          "isError": {
                            "type": "boolean",
                            "description": "Есть ли ошибки",
                            "example": true
                          },
                          "orderId": {
                            "type": "integer",
                            "description": "ID сборочного задания с успешно обновлёнными данными",
                            "example": 123456
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/reject": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Сборочные задания DBS"
        ],
        "summary": "Сообщить об отказе от заказов{{ /api/marketplace/v3/dbs/orders/status/reject }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод переводит [сборочные задания](./orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `deliver` в статус `reject` — отказ покупателя при получении.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/details": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Метаданные DBS"
        ],
        "summary": "Получить метаданные сборочных заданий{{ /api/marketplace/v3/dbs/orders/meta/details }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает метаданные [сборочных заданий](./orders-dbs#tag/Sborochnye-zadaniya-DBS) и статусы их валидации. <br>\nПеречень метаданных, доступных для сборочного задания, можно получить в [списке новых сборочных заданий](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1new/get), поле `requiredMeta`.<br>\nВозможные метаданные:\n  - `imei` — [IMEI](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post)\n  - `uin` — [УИН](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post)\n  - `gtin` — [GTIN](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post)\n  - `sgtin` — [код маркировки](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post)\n  - `customsDeclaration` — [номер ГТД](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1meta~1customs-declaration/post)\n\nЕсли ответ вернулся с пустой структурой `meta`, значит у сборочного задания нет метаданных и добавить их нельзя.<br>\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.OrdersMetaDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/info": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Метаданные DBS"
        ],
        "summary": "Получить метаданные сборочных заданий{{ /api/marketplace/v3/dbs/orders/meta/info }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [27 июля](https://dev.wildberries.ru/release-notes?id=508)\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 150 запросов | 400 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.OrdersMetaResponse"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/delete": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Метаданные DBS"
        ],
        "summary": "Удалить метаданные сборочных заданий{{ /api/marketplace/v3/dbs/orders/meta/delete }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод удаляет значение указанных [метаданных](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post) для нескольких сборочных заданий.\n<br><br>\nВ одном запросе можно удалить метаданные только одного типа. Укажите тип метаданных в запросе:\n  - `imei` — [IMEI](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post)\n  - `uin` — [УИН](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post)\n  - `gtin` — [GTIN](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post)\n  - `sgtin` — [код маркировки](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post)\n  - `customsDeclaration` — [номер ГТД](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1meta~1customs-declaration/post)\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 150 запросов | 400 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersMetaDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "409": {
            "description": "<span class='response__value '>Ошибка удаления метаданных</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/sgtin": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Метаданные DBS"
        ],
        "summary": "Закрепить коды маркировки Честного знака за сборочными заданиями{{ /api/marketplace/v3/dbs/orders/meta/sgtin }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод обновляет код маркировки [Честного знака](https://честныйзнак.рф/) в [метаданных](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post) нескольких сборочных заданий.<br>\nЗакрепить код маркировки Честного знака можно, только если в [метаданных сборочного задания](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post) есть поле `sgtin`, а сборочное задание находится в [статусе](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm` — на сборке.\n<br><br>\nПолучить загруженные маркировки можно в [метаданных сборочного задания](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post).\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 500 запросов | 120 мс | 20 запросов |\n| Сервисный | 1 мин | 500 запросов | 120 мс | 20 запросов |\n| Базовый | 1 ч | 10 запросов | 6 мин | 1 запрос |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersSGTINsSetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/uin": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Метаданные DBS"
        ],
        "summary": "Закрепить УИН за сборочными заданиями{{ /api/marketplace/v3/dbs/orders/meta/uin }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод обновляет УИН, уникальный идентификационный номер, в [метаданных сборочных заданий](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post).<br>\nУ одного сборочного задания может быть только один УИН.\nДобавлять УИН можно только для сборочных заданий, которые доставляются WB и находятся в [статусе](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm`.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 500 запросов | 120 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersUINSetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "409": {
            "description": "<span class='response__value '>Ошибка обновления метаданных</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/imei": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Метаданные DBS"
        ],
        "summary": "Закрепить IMEI за сборочными заданиями{{ /api/marketplace/v3/dbs/orders/meta/imei }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод обновляет IMEI в [метаданных](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post) нескольких сборочных заданий.<br>\nУ одного сборочного задания может быть только один IMEI.\nДобавлять IMEI можно только для сборочных заданий, которые доставляются WB и находятся в [статусе](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm`.<br>\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 500 запросов | 120 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersIMEISetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "409": {
            "description": "<span class='response__value '>Ошибка обновления метаданных</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/gtin": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Метаданные DBS"
        ],
        "summary": "Закрепить GTIN за сборочными заданиями{{ /api/marketplace/v3/dbs/orders/meta/gtin }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод обновляет GTIN, уникальный ID товара в Беларуси, в [метаданных](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post) нескольких сборочных заданий.<br>\nУ одного сборочного задания может быть только один GTIN.\nДобавлять GTIN можно только для сборочных заданий, которые доставляются WB и находятся в [статусе](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm`.<br>\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 500 запросов | 120 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersGTINSetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "IncorrectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "description": "<span class='response__value '>Доступ запрещён</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.BatchError"
                },
                "example": {
                  "detail": {},
                  "origin": "dbs-public-api",
                  "requestId": "f1787bd2d1fdс35d6f537316514у4a05",
                  "title": "AccessDenied"
                }
              }
            }
          },
          "409": {
            "description": "<span class='response__value '>Ошибка обновления метаданных</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/customs-declaration": {
      "servers": [
        {
          "url": "https://marketplace-api.wildberries.ru"
        }
      ],
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "security": [
          {
            "HeaderApiKey": []
          }
        ],
        "tags": [
          "Метаданные DBS"
        ],
        "summary": "Закрепить за сборочными заданиями номер ГТД{{ /api/marketplace/v3/dbs/orders/meta/customs-declaration }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод обновляет номер ГТД — грузовой таможенной декларации — в [метаданных сборочных заданий](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post).\n<br><br>\nУ одного сборочного задания может быть только один ГТД.\n\nДобавлять номер ГТД можно только для сборочных заданий, которые находятся в [статусе](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `deliver`.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 500 запросов | 120 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orders": {
                    "type": "array",
                    "maxItems": 1000,
                    "items": {
                      "type": "object",
                      "properties": {
                        "customsDeclaration": {
                          "type": "string",
                          "minLength": 17,
                          "maxLength": 29,
                          "description": "Номер ГТД",
                          "example": "10704010/010624/0000302"
                        },
                        "orderId": {
                          "type": "integer",
                          "description": "ID сборочного задания"
                        }
                      },
                      "required": [
                        "customsDeclaration",
                        "orderId"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "<span class='response__value response__value_success'>Обновлено</span>"
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  },
                  "IncorrectRequest": {
                    "$ref": "#/components/examples/IncorrectRequest"
                  },
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "409": {
            "description": "<span class='response__value '>Ошибка добавления маркировки</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FailedToUpdateMeta": {
                    "$ref": "#/components/examples/FailedToUpdateMeta"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "HeaderApiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "parameters": {
      "Next": {
        "name": "next",
        "in": "query",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Параметр пагинации. Устанавливает значение, с которого надо получить следующий пакет данных. Для получения полного списка данных должен быть равен `0` в первом запросе. Для следующих запросов необходимо брать значения из одноименного поля в ответе."
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000
        },
        "description": "Параметр пагинации. Устанавливает предельное количество возвращаемых данных."
      }
    },
    "examples": {
      "IncorrectRequestBody": {
        "description": "Некорректное тело запроса",
        "value": {
          "code": "IncorrectRequestBody",
          "message": "Некорректное тело запроса"
        }
      },
      "IncorrectRequest": {
        "value": {
          "code": "IncorrectRequest",
          "message": "Переданы некорректные данные"
        }
      },
      "IncorrectRequest1": {
        "description": "Некорректный запрос",
        "value": {
          "code": "IncorrectRequest",
          "message": ""
        }
      },
      "IncorrectParameter": {
        "value": {
          "code": "IncorrectParameter",
          "message": "Передан некорректный параметр"
        }
      },
      "FailedToUpdateMeta": {
        "value": {
          "code": "FailedToUpdateMeta",
          "message": "Не удалось обновить метаданные сборочного задания. Убедитесь, что сборочное задание удовлетворяет всем необходимым требованиям (сборочное задание существует, находится в статусе \"На сборке\", сборочному заданию доступны метаданные см. описание метода **Получить метаданные сборочного задания**)"
        }
      },
      "StatusMismatch": {
        "value": {
          "code": "StatusMismatch",
          "message": "Несоответствие статусов, проверьте их правильность"
        }
      }
    },
    "responses": {
      "401": {
        "description": "<span class='response__value '>Не авторизован</span>",
        "content": {
          "application/problem+json": {
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Заголовок ошибки"
                },
                "detail": {
                  "type": "string",
                  "description": "Детали ошибки"
                },
                "code": {
                  "type": "string",
                  "description": "Внутренний код ошибки"
                },
                "requestId": {
                  "type": "string",
                  "description": "Уникальный ID запроса"
                },
                "origin": {
                  "type": "string",
                  "description": "ID внутреннего сервиса WB"
                },
                "status": {
                  "type": "number",
                  "description": "HTTP статус-код"
                },
                "statusText": {
                  "type": "string",
                  "description": "Расшифровка HTTP статус-кода"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Дата и время запроса"
                }
              }
            },
            "example": {
              "title": "unauthorized",
              "detail": "token problem; token is malformed: could not base64 decode signature: illegal base64 data at input byte 84",
              "code": "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75",
              "requestId": "7b80742415072fe8b6b7f7761f1d1211",
              "origin": "s2s-api-auth-catalog",
              "status": 401,
              "statusText": "Unauthorized",
              "timestamp": "2024-09-30T06:52:38Z"
            }
          }
        }
      },
      "402": {
        "description": "<span class='response__value '>Требуется платёж</span>",
        "content": {
          "application/problem+json": {
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Заголовок ошибки"
                },
                "detail": {
                  "type": "string",
                  "description": "Детали ошибки. Ошибка возвращается только сервисам из [Каталога решений для бизнеса](https://dev.wildberries.ru/business-solutions)"
                }
              }
            },
            "example": {
              "title": "payment required",
              "detail": "wb solution for business has insufficient funds on its balance. please top up the balance in the company's personal account https://dev.wildberries.ru/company"
            }
          }
        }
      },
      "429": {
        "description": "<span class='response__value '>Слишком много запросов</span>",
        "content": {
          "application/problem+json": {
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Заголовок ошибки"
                },
                "detail": {
                  "type": "string",
                  "description": "Детали ошибки"
                },
                "code": {
                  "type": "string",
                  "description": "Внутренний код ошибки"
                },
                "requestId": {
                  "type": "string",
                  "description": "Уникальный ID запроса"
                },
                "origin": {
                  "type": "string",
                  "description": "ID внутреннего сервиса WB"
                },
                "status": {
                  "type": "number",
                  "description": "HTTP статус-код"
                },
                "statusText": {
                  "type": "string",
                  "description": "Расшифровка HTTP статус-кода"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Дата и время запроса"
                }
              }
            },
            "example": {
              "title": "too many requests",
              "detail": "limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489",
              "code": "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]",
              "requestId": "9d3c02cc698f8b041c661a7c28bed293",
              "origin": "s2s-api-auth-catalog",
              "status": 429,
              "statusText": "Too Many Requests",
              "timestamp": "2024-09-30T06:52:38Z"
            }
          }
        }
      },
      "NotFound": {
        "description": "<span class='response__value '>Не найдено</span>",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "NotFound",
              "message": ""
            }
          }
        }
      },
      "AccessDenied": {
        "description": "<span class='response__value '>Доступ запрещён</span>",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "AccessDenied",
              "message": ""
            }
          }
        }
      }
    },
    "schemas": {
      "api.OrderGroupsRequest": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "maxItems": 1000,
            "description": "Список значений `groupId`. Можно получить из [новых](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1new/get) и [завершенных](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders/get) сборочных заданий",
            "items": {
              "type": "string"
            }
          }
        },
        "example": {
          "groups": [
            "7a2c8810-1db2-4011-9682-5c7fa33afd83",
            "5a8f4523-4cf2-5691-9682-5a7fd33afd73"
          ]
        }
      },
      "Error": {
        "type": "object",
        "nullable": false,
        "properties": {
          "code": {
            "type": "string",
            "description": "Код ошибки",
            "nullable": false
          },
          "message": {
            "type": "string",
            "description": "Описание ошибки",
            "nullable": false
          },
          "data": {
            "type": "object",
            "description": "Дополнительные данные ошибки",
            "nullable": true
          }
        }
      },
      "OrdersRequestAPI": {
        "properties": {
          "orders": {
            "description": "Список ID сборочных заданий",
            "items": {
              "type": "integer"
            },
            "type": "array"
          }
        },
        "type": "object",
        "example": {
          "orders": [
            987654321,
            123456789
          ]
        }
      },
      "api.OrderGroup": {
        "type": "array",
        "nullable": true,
        "items": {
          "type": "object",
          "properties": {
            "groupID": {
              "description": "ID группы сборочных заданий",
              "type": "string",
              "format": "UUID",
              "example": "0596a30a-d11c-4210-a231-ee1c39d61fe4"
            },
            "deliveryCost": {
              "description": "Стоимость платной доставки в валюте продажи, умноженная на 100",
              "type": "integer",
              "example": 1108
            },
            "convertedDeliveryCost": {
              "description": "Стоимость платной доставки в валюте страны продавца, умноженная на 100. Предоставляется в информационных целях.",
              "type": "integer",
              "example": 29803
            },
            "currencyCode": {
              "description": "Код валюты продажи",
              "format": "ISO 4217",
              "type": "integer",
              "example": 933
            },
            "convertedCurrencyCode": {
              "description": "Код валюты страны продавца",
              "type": "integer",
              "example": 643
            }
          }
        }
      },
      "DeliveryDatesRequest": {
        "properties": {
          "orders": {
            "description": "Список ID сборочных заданий",
            "items": {
              "type": "integer",
              "minItems": 1,
              "maxItems": 1000
            },
            "type": "array"
          }
        },
        "type": "object",
        "example": {
          "orders": [
            1234567890
          ]
        }
      },
      "Next": {
        "type": "integer",
        "format": "int64",
        "nullable": false,
        "description": "Параметр пагинации. Содержит значение, которое необходимо указать в запросе для получения следующего пакета данных",
        "example": 13833711
      },
      "OrderNewDBS": {
        "type": "object",
        "properties": {
          "salePrice": {
            "description": "Цена в валюте продажи с учетом скидки продавца, без учета скидки WB Клуба, умноженная на 100. Предоставляется в информационных целях\n",
            "type": "integer",
            "nullable": true,
            "example": 504658
          },
          "requiredMeta": {
            "description": "Список метаданных, доступных для сборочного задания. [Указывать IMEI](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post) обязательно для [предмета](./work-with-products/#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1all/get) `Смартфоны`, `\"subjectId\":515`",
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "example": [
              "uin"
            ]
          },
          "comment": {
            "type": "string",
            "nullable": false,
            "description": "Комментарий покупателя",
            "maxLength": 300,
            "example": "Упакуйте в пленку, пожалуйста"
          },
          "options": {
            "type": "object",
            "description": "Опции заказа",
            "properties": {
              "isB2b": {
                "type": "boolean",
                "description": "Признак B2B-продажи:\n  - `false` — не B2B-продажа\n  - `true` — B2B-продажа\n"
              }
            }
          },
          "address": {
            "type": "object",
            "nullable": false,
            "description": "Адрес покупателя для доставки. При доставке заказов в ПВЗ указан адрес ПВЗ\n",
            "properties": {
              "fullAddress": {
                "description": "Адрес доставки",
                "type": "string",
                "example": "Челябинская область, г. Челябинск, 51-я улица Арабкира, д. 10А, кв. 42"
              },
              "longitude": {
                "type": "number",
                "format": "float64",
                "nullable": false,
                "description": "Долгота",
                "example": 44.519068
              },
              "latitude": {
                "type": "number",
                "format": "float64",
                "nullable": false,
                "description": "Широта",
                "example": 40.20192
              }
            }
          },
          "orderUid": {
            "type": "string",
            "description": "ID транзакции для группировки сборочных заданий. Сборочные задания в одной корзине покупателя будут иметь одинаковый `orderUID`",
            "example": "165918930_629fbc924b984618a44354475ca58675"
          },
          "groupId": {
            "description": "ID группы сборочных заданий. <br> Объединяет сборочные задания, поступившие на один склад (`warehouseId`) в рамках одной транзакции покупателя (`orderUid`)",
            "type": "string",
            "format": "UUID",
            "example": "7a2c8810-1db2-4011-9682-5c7fa33afd83"
          },
[...]
