{
  "openapi": "3.0.1",
  "info": {
    "title": "Заказы Самовывоз",
    "x-file-name": "in-store-pickup",
    "description": "Управление [сборочными заданиями](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) и [метаданными](./in-store-pickup#tag/Metadannye-Samovyvoz) заказов модели Самовывоз.\n",
    "version": "instorepickup"
  },
  "servers": [
    {
      "url": "https://marketplace-api.wildberries.ru"
    }
  ],
  "security": [
    {
      "HeaderApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Заказы Самовывоз",
      "description": "<div class=\"api-description\">\n\nУправление [сборочными заданиями](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) и [метаданными](./in-store-pickup#tag/Metadannye-Samovyvoz) заказов модели Самовывоз.\n\n\n</div>",
      "x-traitTag": true
    },
    {
      "name": "Сборочные задания Самовывоз",
      "description": "<div class=\"description_auth\">\n  Для доступа к методам используйте <a href=\"/openapi/api-information#tag/Avtorizaciya\">токен</a> для категории <strong>Маркетплейс</strong>\n</div>\n\n<div class=\"description_ref\">\n  Узнать, как использовать методы в бизнес-кейсах, можно в <a href=\"https://dev.wildberries.ru/knowledge-base/articles/019d49a4-16d3-7b8c-b42a-026b566a8e29/samovyvoz\">инструкции</a> по работе с <strong>заказами Самовывоз</strong>\n</div>\n\nПорядок работы:\n1. [Получите новое сборочное задание](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1new/get)\n2. [Переведите его на сборку](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1confirm/post)\n3. После этого для задания становится доступной [информация по покупателю](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1client/post) (имя, телефон)\n4. После сборки [сообщите, что сборочное задание готово к выдаче](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1prepare/post)\n5. После того как сборочное задание получит статус `Готово к выдаче`, вы можете проверить, [принадлежит ли это сборочное задание покупателю](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1client~1identity/post).\n6. После доставки задания покупателю вам необходимо сообщить на наш сервер, что [заказ принят покупателем](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1receive/post) или что [покупатель отказался от заказа](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1reject/post)\n"
    },
    {
      "name": "Метаданные Самовывоз",
      "description": "<div class=\"description_auth\">\n  Для доступа к методам используйте <a href=\"/openapi/api-information#tag/Avtorizaciya\">токен</a> для категории <strong>Маркетплейс</strong>\n</div>\n\n<div class=\"description_ref\">\n  Узнать, как использовать методы в бизнес-кейсах, можно в <a href=\"https://dev.wildberries.ru/knowledge-base/articles/019d49a4-16d3-7b8c-b42a-026b566a8e29/samovyvoz\">инструкции</a> по работе с <strong>заказами Самовывоз</strong>\n</div>\n\nС помощью этих методов вы можете [получать](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post), [удалять](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1delete/post) и редактировать метаданные сборочных заданий:\n  - [Код маркировки Честного знака](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1sgtin/post)\n  - [УИН](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1uin/post)\n  - [IMEI](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1imei/post)\n  - [GTIN](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1gtin/post)\n"
    }
  ],
  "paths": {
    "/api/v3/click-collect/orders/new": {
      "get": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Получить список новых сборочных заданий{{ /api/v3/click-collect/orders/new }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает список всех новых [сборочных заданий](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz), которые есть у продавца на момент запроса.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.NewOrders"
                },
                "examples": {
                  "NewOrderClick": {
                    "$ref": "#/components/examples/NewOrderClick"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/confirm": {
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Перевести сборочные задания на сборку{{ /api/marketplace/v3/click-collect/orders/status/confirm }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод переводит [сборочные задания](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) из [статуса](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `new` — новый — в статус `confirm` — на сборке.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDeniedBatch",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/prepare": {
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Сообщить, что сборочные задания готовы к выдаче{{ /api/marketplace/v3/click-collect/orders/status/prepare }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод переводит [сборочные задания](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) из [статуса](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `confirm` — на сборке — в статус `prepare` — готово к выдаче.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDeniedBatch",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/{orderId}/confirm": {
      "patch": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Перевести на сборку{{ /api/v3/click-collect/orders/{orderId}/confirm }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID сборочного задания",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "<span class='response__value response__value_success'>Подтверждено</span>"
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "409": {
            "description": "<span class='response__value '>Ошибка обновления статуса</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "StatusMismatch": {
                    "$ref": "#/components/examples/StatusMismatch"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/{orderId}/prepare": {
      "patch": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Сообщить, что сборочное задание готово к выдаче{{ /api/v3/click-collect/orders/{orderId}/prepare }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID сборочного задания",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "<span class='response__value response__value_success'>Подтверждено</span>"
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "409": {
            "description": "<span class='response__value '>Ошибка обновления статуса</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "StatusMismatch": {
                    "$ref": "#/components/examples/StatusMismatch"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/client": {
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Информация о покупателе{{ /api/v3/click-collect/orders/client }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает информацию о покупателе по ID сборочного задания.\n<br><br>\nДоступно только для сборочных заданий в статусах:\n  - `confirm` — на сборке\n  - `prepare` — готов к выдаче\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.OrderClientInfoResp"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/client/identity": {
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Проверить, что заказ принадлежит покупателю{{ /api/v3/click-collect/orders/client/identity }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод сообщает, принадлежит ли проверяемый заказ покупателю или нет по переданному коду.\n<br><br>\nДоступно, если хотя бы одно сборочное задание из заказа находится в статусе prepare - готов к выдаче.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 30 запросов | 2 сек | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.CheckIdentityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.CheckedIdentity"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "description": "<span class='response__value '>Не найдено</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.Error"
                },
                "examples": {
                  "OrderNotFound": {
                    "$ref": "#/components/examples/OrderNotFound"
                  }
                }
              }
            }
          },
          "409": {
            "description": "<span class='response__value '>Введён неверный проверочный код</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.Error"
                },
                "examples": {
                  "InvalidPasscode": {
                    "$ref": "#/components/examples/InvalidPasscode"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/receive": {
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Сообщить, что заказы приняты покупателями{{ /api/marketplace/v3/click-collect/orders/status/receive }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод переводит [сборочные задания](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) из [статуса](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `prepare` — готово к выдаче — в статус `receive` — получено покупателем.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDeniedBatch",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/reject": {
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Сообщить об отказе от заказов{{ /api/marketplace/v3/click-collect/orders/status/reject }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод переводит [сборочные задания](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) из [статуса](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `prepare` — готово к выдаче — в статус `reject` — отказ при получении.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDeniedBatch",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/{orderId}/receive": {
      "patch": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Сообщить, что заказ принят покупателем{{ /api/v3/click-collect/orders/{orderId}/receive }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 20 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 20 запросов |\n| Базовый | 1 ч | 10 запросов | 6 мин | 1 запрос |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID сборочного задания",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "<span class='response__value response__value_success'>Подтверждено</span>"
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "409": {
            "description": "<span class='response__value '>Ошибка обновления статуса</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "StatusMismatch": {
                    "$ref": "#/components/examples/StatusMismatch"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/{orderId}/reject": {
      "patch": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Сообщить, что покупатель отказался от заказа{{ /api/v3/click-collect/orders/{orderId}/reject }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 20 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 20 запросов |\n| Базовый | 1 ч | 50 запросов | 72 сек | 1 запрос |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID сборочного задания",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "<span class='response__value response__value_success'>Подтверждено</span>"
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "409": {
            "description": "<span class='response__value '>Ошибка обновления статуса</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "StatusMismatch": {
                    "$ref": "#/components/examples/StatusMismatch"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/info": {
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Получить статусы сборочных заданий{{ /api/marketplace/v3/click-collect/orders/status/info }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает статусы [сборочных заданий](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) по их ID.\n<br><br>\n`supplierStatus` — статус сборочного задания. Триггер его изменения - действие самого продавца.\n\nВозможные значения `supplierStatus`:\n| Статус   | Описание            | Как перевести сборочное задание в данный статус |\n| -------  | ---------           | --------------------------------------|\n| `new`      | **Новое сборочное задание** |\n| `confirm`  | **На сборке**  | \t[Перевести сборочное задание на сборку](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1confirm/post)\n| `prepare`  | **Готов к выдаче** | \t[Сообщить, что сборочное задание готово к выдаче](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1prepare/post)\n| `receive`  | **Получено покупателем**   | [Сообщить, что заказ принят покупателем](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1receive/post)\n| `reject`  | **Отказ покупателя при получении**    |  \t[Сообщить, что покупатель отказался от заказа](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1reject/post)\n| `cancel`   | **Отменено продавцом**    |  \t[Отменить сборочное задание](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1cancel/post)\n| `cancel_shelf_life` | **Отмена по истечении срока хранения**    |  \tПереводится автоматически по возникновению события\n\n<br><br>\n`wbStatus` — статус системы Wildberries.\n\nВозможные значения `wbStatus`:\n- `waiting` - сборочное задание в работе\n- `sold` - заказ получен покупателем\n- `canceled` - отмена сборочного задания\n- `canceled_by_client` - покупатель отменил заказ при получении\n- `declined_by_client` - покупатель отменил заказ в первый чаc\n<br> Отмена доступна покупателю в первый час с момента заказа, если заказ не переведён на сборку\n- `defect` - отмена заказа по причине брака\n- `ready_for_pickup` - заказ готов к выдаче\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.OrderStatusesV2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDeniedBatch",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/status": {
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Получить статусы сборочных заданий{{ /api/v3/click-collect/orders/status }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.OrderStatuses"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders": {
      "get": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Получить информацию о завершённых сборочных заданиях{{ /api/v3/click-collect/orders }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает информацию о завершённых сборочных заданиях после продажи или отмены заказа.\n\nМожно получить данные за заданный период, максимум 30 календарных дней одним запросом.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Параметр пагинации. Устанавливает предельное количество возвращаемых\nданных.\n",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "next",
            "in": "query",
            "description": "Параметр пагинации. Устанавливает значение, с которого необходимо получить\nследующий пакет данных. Для получения полного списка данных должен\nбыть равен `0` в первом запросе. Для следующих запросов необходимо\nбрать значения из одноимённого поля в ответе\n",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Дата начала периода в формате Unix timestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Дата конца периода в формате Unix timestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.Orders"
                }
              }
            }
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/cancel": {
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Отменить сборочные задания{{ /api/marketplace/v3/click-collect/orders/status/cancel }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nПереводит [сборочные задания](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) из [статусов](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `new`, `confirm`, `prepare` в статус `cancel` — отменено продавцом.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.StatusSetResponses"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDeniedBatch",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/{orderId}/cancel": {
      "patch": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Сборочные задания Самовывоз"
        ],
        "summary": "Отменить сборочное задание{{ /api/v3/click-collect/orders/{orderId}/cancel }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 20 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 20 запросов |\n| Базовый | 1 ч | 10 запросов | 6 мин | 1 запрос |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID сборочного задания",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "<span class='response__value response__value_success'>Отменено</span>"
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "409": {
            "description": "<span class='response__value '>Ошибка обновления статуса</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "StatusMismatch": {
                    "$ref": "#/components/examples/StatusMismatch"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/info": {
      "post": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Получить метаданные сборочных заданий{{ /api/marketplace/v3/click-collect/orders/meta/info }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод возвращает метаданные [сборочных заданий](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz).\n<br><br>\nПеречень метаданных, доступных для сборочного задания, можно получить в [списке новых сборочных заданий](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1new/get), поле `requiredMeta`.\n<br><br>\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 150 запросов | 400 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.OrdersMetaResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDeniedBatch",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/delete": {
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Удалить метаданные сборочных заданий{{ /api/marketplace/v3/click-collect/orders/meta/delete }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод удаляет значения указанных [метаданных](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post) для нескольких сборочных заданий.\n<br><br>\nОдним запросом можно удалить метаданные только одного типа: `imei`, `uin`, `gtin` или `sgtin`.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 150 запросов | 400 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersMetaDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.OrdersResponses"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/sgtin": {
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Закрепить коды маркировки Честного знака за сборочными заданиями{{ /api/marketplace/v3/click-collect/orders/meta/sgtin }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод обновляет код маркировки [Честного знака](https://честныйзнак.рф/) в [метаданных](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post) нескольких сборочных заданий.<br>\nЗакрепить код маркировки Честного знака можно, только если в [метаданных сборочного задания](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post) есть поле `sgtin`, а сборочное задание находится в [статусе](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `confirm`.\n<br><br>\nПолучить загруженные маркировки можно в [метаданных сборочного задания](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post).\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 20 запросов | 3 сек | 500 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersSGTINsSetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.MetaSetResponses"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/uin": {
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Закрепить УИН за сборочными заданиями{{ /api/marketplace/v3/click-collect/orders/meta/uin }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод обновляет УИН, уникальные идентификационные номера, в [метаданных сборочных заданий](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post). У одного сборочного задания может быть\nтолько один УИН. Добавлять УИН можно только для сборочных заданий в [статусе](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post)\n`confirm` и доставка которых осуществляется силами WB.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 20 запросов | 3 сек | 500 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersUINSetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.MetaSetResponses"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/imei": {
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Закрепить IMEI за сборочными заданиями{{ /api/marketplace/v3/click-collect/orders/meta/imei }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод обновляет IMEI в [метаданных сборочных заданий](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post). У одного сборочного задания может\nбыть только один IMEI. Добавлять IMEI можно только для сборочных заданий в\n[статусе](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `confirm`, если их доставка осуществляется силами WB.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 20 запросов | 3 сек | 500 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersIMEISetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.MetaSetResponses"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/gtin": {
      "post": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Закрепить GTIN за сборочными заданиями{{ /api/marketplace/v3/click-collect/orders/meta/gtin }}",
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nМетод обновляет GTIN, уникальный ID товара в Беларуси, в [метаданных](./in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post) нескольких сборочных\nзаданий. У одного сборочного задания может быть только один GTIN.\nДобавлять GTIN можно только для сборочных заданий в [статусе](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `confirm` и\nдоставка которых осуществляется силами WB.\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 20 запросов | 3 сек | 500 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.OrdersGTINSetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.MetaSetResponses"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectRequest",
            "description": "<span class='response__value '></span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/{orderId}/meta": {
      "get": {
        "x-readonly-method": true,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Получить метаданные сборочного задания{{ /api/v3/click-collect/orders/{orderId}/meta }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных Самовывоз</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 300 запросов | 200 мс | 20 запросов |\n| Сервисный | 1 мин | 300 запросов | 200 мс | 20 запросов |\n| Базовый | 1 ч | 10 запросов | 6 мин | 1 запрос |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID сборочного задания",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<span class='response__value response__value_success'>Успешно</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.OrdersMeta"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      },
      "delete": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Удалить метаданные сборочного задания{{ /api/v3/click-collect/orders/{orderId}/meta }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID сборочного задания",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Название метаданных для удаления (`imei`, `uin`, `gtin`, `sgtin`).\nПередается только одно значение.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "<span class='response__value response__value_success'>Удалено</span>"
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/{orderId}/meta/sgtin": {
      "put": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Закрепить за сборочным заданием код маркировки товара{{ /api/v3/click-collect/orders/{orderId}/meta/sgtin }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID сборочного задания",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.SGTINsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "<span class='response__value response__value_success'>Обновлено</span>"
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  },
                  "IncorrectRequest": {
                    "$ref": "#/components/examples/IncorrectRequest"
                  },
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "409": {
            "description": "<span class='response__value '>Ошибка добавления маркировки.</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FailedToUpdateMeta": {
                    "$ref": "#/components/examples/FailedToUpdateMeta"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/{orderId}/meta/uin": {
      "put": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Закрепить за сборочным заданием УИН (уникальный идентификационный номер){{ /api/v3/click-collect/orders/{orderId}/meta/uin }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n\n<div class=\"description_limit\">\n<a href='./api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных Самовывоз</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 1000 запросов | 60 мс | 20 запросов |\n| Сервисный | 1 мин | 1000 запросов | 60 мс | 20 запросов |\n| Базовый | 1 ч | 10 запросов | 6 мин | 1 запрос |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID сборочного задания",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.UINRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "<span class='response__value response__value_success'>Обновлено</span>"
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  },
                  "IncorrectRequest": {
                    "$ref": "#/components/examples/IncorrectRequest"
                  },
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "409": {
            "description": "<span class='response__value '>Ошибка добавления маркировки.</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FailedToUpdateMeta": {
                    "$ref": "#/components/examples/FailedToUpdateMeta"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/{orderId}/meta/imei": {
      "put": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Закрепить за сборочным заданием IMEI{{ /api/v3/click-collect/orders/{orderId}/meta/imei }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID сборочного задания",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.IMEIRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "<span class='response__value response__value_success'>Обновлено</span>"
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  },
                  "IncorrectRequest": {
                    "$ref": "#/components/examples/IncorrectRequest"
                  },
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "409": {
            "description": "<span class='response__value '>Ошибка добавления маркировки.</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FailedToUpdateMeta": {
                    "$ref": "#/components/examples/FailedToUpdateMeta"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    },
    "/api/v3/click-collect/orders/{orderId}/meta/gtin": {
      "put": {
        "x-readonly-method": false,
        "x-category": "marketplace",
        "tags": [
          "Метаданные Самовывоз"
        ],
        "summary": "Закрепить за сборочным заданием GTIN{{ /api/v3/click-collect/orders/{orderId}/meta/gtin }}",
        "deprecated": true,
        "description": "<div class='description-title'><span>Описание метода</span></div>\n\nДанный метод устарел. Он будет удалён [19 мая](https://dev.wildberries.ru/release-notes?id=474)\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID сборочного задания",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.GTINRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "<span class='response__value response__value_success'>Обновлено</span>"
          },
          "400": {
            "description": "<span class='response__value '>Неправильный запрос</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectRequestBody": {
                    "$ref": "#/components/examples/IncorrectRequestBody"
                  },
                  "IncorrectRequest": {
                    "$ref": "#/components/examples/IncorrectRequest"
                  },
                  "IncorrectParameter": {
                    "$ref": "#/components/examples/IncorrectParameter"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401",
            "description": "<span class='response__value '></span>"
          },
          "402": {
            "$ref": "#/components/responses/402",
            "description": "<span class='response__value '></span>"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied",
            "description": "<span class='response__value '></span>"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "<span class='response__value '></span>"
          },
          "409": {
            "description": "<span class='response__value '>Ошибка добавления маркировки.</span>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FailedToUpdateMeta": {
                    "$ref": "#/components/examples/FailedToUpdateMeta"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429",
            "description": "<span class='response__value '></span>"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "HeaderApiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "examples": {
      "NewOrderClick": {
        "value": {
          "orders": [
            {
              "ddate": "29.10.2024",
              "salePrice": 14000,
              "requiredMeta": [
                "sgtin"
              ],
              "article": "wb1702fyjh",
              "rid": "1234567673554519872.0.0",
              "createdAt": "2024-10-29T10:19:30Z",
              "warehouseAddress": "Москва, район Якиманка, Софийская набережная, 4 с1",
              "orderCode": "23457822-6667",
              "payMode": "prepaid",
              "skus": [
                "2041546265353"
              ],
              "id": 1234567890,
              "warehouseId": 1234567,
              "nmId": 123456789,
              "chrtId": 987654321,
              "price": 14000,
              "finalPrice": 14000,
              "convertedPrice": 14000,
              "convertedFinalPrice": 14000,
              "currencyCode": 643,
              "convertedCurrencyCode": 643,
              "cargoType": 1,
              "isZeroOrder": false
            }
          ]
        }
      },
      "IncorrectRequestBody": {
        "value": {
          "code": "IncorrectRequestBody",
          "message": "Некорректное тело запроса"
        }
      },
      "InvalidPasscode": {
        "description": "Введён неправильный проверочный код",
        "value": {
          "code": "InvalidPasscode"
        }
      },
      "OrderNotFound": {
        "description": "Заказ не найден",
        "value": {
          "code": "NotFound"
        }
      },
      "StatusMismatch": {
        "value": {
          "code": "StatusMismatch",
          "message": "Несоответствие статусов, проверьте их правильность"
        }
      },
      "FailedToUpdateMeta": {
        "value": {
          "code": "FailedToUpdateMeta",
          "message": "Не удалось обновить метаданные сборочного задания. Убедитесь, что сборочное задание удовлетворяет всем необходимым требованиям (сборочное задание существует, находится в статусе \"На сборке\", сборочному заданию доступны метаданные см. описание метода **Получить метаданные сборочного задания**)"
        }
      },
      "IncorrectParameter": {
        "value": {
          "code": "IncorrectParameter",
          "message": "Передан некорректный параметр"
        }
      },
      "IncorrectRequest": {
        "value": {
          "code": "IncorrectRequest",
          "message": "Переданы некорректные данные"
        }
      }
    },
    "schemas": {
      "api.CheckedIdentity": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Принадлежит ли заказ покупателю:\n  - `true` — принадлежит\n  - `false` — значение не применяется. Если заказ не принадлежит покупателю, вы получите ответ со статус-кодом `409`\n"
          }
        }
      },
      "Error": {
        "type": "object",
        "nullable": false,
        "properties": {
          "code": {
            "type": "string",
            "description": "Код ошибки",
            "nullable": false
          },
          "message": {
            "type": "string",
            "description": "Описание ошибки",
            "nullable": false
          },
          "data": {
            "type": "object",
            "description": "Дополнительные данные, обогащающие ошибку",
            "nullable": true
          }
        }
      },
      "api.CheckIdentityRequest": {
        "type": "object",
        "properties": {
          "orderCode": {
            "type": "string",
            "description": "Уникальный ID заказа покупателя"
          },
          "passcode": {
            "type": "string",
            "description": "Код подтверждения"
          }
        },
        "example": {
          "orderCode": "170046918-0011",
          "passcode": "4567"
        }
      },
      "api.Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "api.GTINRequest": {
        "type": "object",
        "properties": {
          "gtin": {
            "type": "string",
            "description": "GTIN"
          }
        },
        "example": {
          "gtin": "1234567890123456"
        }
      },
      "api.IMEIRequest": {
        "type": "object",
        "properties": {
          "imei": {
            "type": "string",
            "description": "IMEI"
          }
        },
        "example": {
          "imei": "123456789012345"
        }
      },
      "api.NewOrder": {
        "type": "object",
        "properties": {
          "ddate": {
            "type": "string",
            "description": "Планируемая дата доставки"
          },
          "salePrice": {
            "description": "Цена продавца в валюте продажи с учётом скидки продавца, без учёта скидки WB Клуба, умноженная на 100. Предоставляется в информационных целях\n",
            "type": "integer",
            "nullable": true,
            "example": 504600
          },
          "requiredMeta": {
            "type": "array",
            "nullable": true,
            "description": "Список метаданных, доступных для сборочного задания\n",
            "items": {
              "type": "string"
            }
          },
          "article": {
            "type": "string",
            "description": "Артикул продавца"
          },
          "rid": {
            "type": "string",
            "description": "Уникальный ID заказа. <br>\nПримечание: поле `rid` — это поле `srid` в ответах методов:\n  - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)\n  - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)\n  - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)\n  - [Отчет о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)\n  - [Отчет о продажах по реализации](./financial-reports-and-accounting#tag/Finansovye-otchyoty/paths/~1api~1v5~1supplier~1reportDetailByPeriod/get)\n"
          },
          "createdAt": {
            "type": "string",
            "description": "Дата и время создания сборочного задания",
            "format": "date-time"
          },
          "warehouseAddress": {
            "type": "string",
            "description": "Адрес магазина (склада продавца), на который поступило сборочное\nзадание\n"
          },
          "orderCode": {
            "type": "string",
            "description": "Уникальный ID заказа покупателя\n"
          },
          "payMode": {
            "description": "Режим оплаты:\n  - `prepaid` — предоплатный\n  - `postpaid` — постоплатный\n  - `unknown` — неизвестный\n",
            "type": "string",
            "example": "prepaid"
          },
          "skus": {
            "type": "array",
            "description": "Массив баркодов товара",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "integer",
            "description": "ID сборочного задания"
          },
          "warehouseId": {
            "type": "integer",
            "description": "ID склада продавца, на который поступило сборочное\nзадание\n"
          },
          "nmId": {
            "type": "integer",
            "description": "Артикул WB"
          },
          "chrtId": {
            "type": "integer",
            "description": "ID размера товара в системе WB"
          },
          "price": {
            "type": "integer",
            "description": "Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100.\nКод валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях\n"
          },
          "finalPrice": {
            "description": "Сумма к оплате покупателем в валюте продажи с учетом всех скидок, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях",
            "type": "integer",
            "example": 5000
          },
          "convertedPrice": {
            "description": "Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях",
            "type": "integer",
            "example": 5000
          },
          "convertedFinalPrice": {
            "description": "Сумма к оплате покупателем в валюте страны продавца с учетом всех скидок, умноженная на 100. Предоставляется в информационных целях",
            "type": "integer",
            "example": 5000
          },
          "currencyCode": {
            "type": "integer",
            "description": "Код валюты продажи",
            "example": 643,
            "format": "ISO 4217"
          },
          "convertedCurrencyCode": {
            "description": "Код валюты страны продавца",
            "format": "ISO 4217",
            "type": "integer",
            "example": 643
          },
          "cargoType": {
            "type": "integer",
            "nullable": false,
            "description": "Тип товара:\n  - `1` — малогабаритный товар (МГТ)\n  - `2` — сверхгабаритный товар (СГТ)\n  - `3` — крупногабаритный товар (КГТ+)\n",
            "enum": [
              1,
              2,
              3
            ]
          },
          "isZeroOrder": {
            "type": "boolean",
            "description": "Признак заказа товара с нулевым остатком:\n  - `false` — заказ сделан на товар с ненулевым остатком\n  - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену\n"
          }
        }
      },
      "api.NewOrders": {
        "type": "object",
        "properties": {
          "orders": {
            "type": "array",
            "description": "Список сборочных заданий",
            "items": {
              "$ref": "#/components/schemas/api.NewOrder"
            }
          }
        }
      },
      "api.Order": {
        "type": "object",
        "properties": {
          "article": {
            "type": "string",
            "description": "Артикул продавца",
            "example": "wb6scpbwvp"
          },
          "cargoType": {
            "type": "integer",
            "nullable": false,
            "description": "Тип товара:\n  - `1` — малогабаритный товар (МГТ)\n  - `2` — сверхгабаритный товар (СГТ)\n  - `3` — крупногабаритный товар (КГТ+)\n",
            "enum": [
              1,
              2,
              3
            ],
            "example": 1
          },
          "chrtId": {
            "type": "integer",
            "description": "ID размера товара в системе WB",
            "example": 12345676
          },
          "createdAt": {
            "type": "string",
            "description": "Дата и время создания сборочного задания",
            "format": "date-time",
            "example": "2025-03-21T09:53:31Z"
          },
          "price": {
            "type": "integer",
            "description": "Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100.\nКод валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях\n",
            "example": 5000
          },
          "finalPrice": {
            "description": "Сумма к оплате покупателем в валюте продажи с учетом всех скидок, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях",
            "type": "integer",
            "example": 5000
          },
          "convertedPrice": {
            "description": "Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях",
            "type": "integer",
            "example": 5000
          },
          "convertedFinalPrice": {
            "description": "Сумма к оплате покупателем в валюте страны продавца с учетом всех скидок, умноженная на 100. Предоставляется в информационных целях",
            "type": "integer",
            "example": 5000
          },
          "currencyCode": {
            "type": "integer",
            "description": "Код валюты продажи",
            "format": "ISO 4217",
            "example": 643
          },
          "convertedCurrencyCode": {
            "description": "Код валюты страны продавца",
            "format": "ISO 4217",
            "type": "integer",
            "example": 643
          },
          "id": {
            "type": "integer",
            "description": "ID сборочного задания",
            "example": 123456789
          },
          "isZeroOrder": {
            "type": "boolean",
            "description": "Признак заказа товара с нулевым остатком:\n  - `false` — заказ сделан на товар с ненулевым остатком\n  - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену\n",
            "example": false
          },
          "nmId": {
            "type": "integer",
            "description": "Артикул WB",
            "example": 1234567898765
          },
          "orderCode": {
            "type": "string",
            "description": "Уникальный ID заказа покупателя\n",
            "example": "21117866-0006"
          },
          "payMode": {
            "description": "Режим оплаты:\n  - `prepaid` — предоплатный\n  - `postpaid` — постоплатный\n  - `unknown` — неизвестный\n",
            "type": "string",
            "example": "prepaid"
          },
          "rid": {
            "type": "string",
            "description": "Уникальный ID заказа. <br>\nПримечание: поле `rid` — это поле `srid` в ответах методов:\n  - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)\n  - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)\n  - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)\n  - [Отчет о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)\n  - [Отчет о продажах по реализации](./financial-reports-and-accounting#tag/Finansovye-otchyoty/paths/~1api~1v5~1supplier~1reportDetailByPeriod/get)\n",
            "example": "5044304527347733263.0.0"
          },
          "skus": {
            "type": "array",
            "description": "Массив баркодов товара",
            "items": {
              "type": "string"
            },
            "example": [
              "2043227963145"
            ]
          },
          "warehouseAddress": {
            "type": "string",
            "description": "Адрес магазина (склада продавца), на который поступило сборочное задание",
            "example": "Москва, район Якиманка, Софийская набережная, 4 с1"
          },
          "warehouseId": {
            "type": "integer",
            "description": "ID склада продавца, на который поступило сборочное задание",
            "example": 1162157
          }
        }
      },
      "api.OrderClientInfo": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "description": "Телефон для связи с покупателем. Чтобы связаться с покупателем наберите\nэтот номер и введите добавочный код. Данный номер не является прямым\nномером покупателя.\n"
          },
          "firstName": {
            "type": "string",
            "description": "Имя покупателя"
          },
          "orderID": {
            "type": "integer",
            "description": "ID сборочного задания"
          },
          "phoneCode": {
            "type": "integer",
[...]
